# Auto detect text files and perform LF normalization
*        text=auto


*.ts    text eol=lf
*.tsx   text eol=lf
*.rs    text eol=lf
*.js    text eol=lf
*.json  text eol=lf
*.debug text eol=lf

*.md   text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
/.husky/* text eol=lf

# Generated codes
index.js                         linguist-detectable=false
index.d.ts                       linguist-detectable=false
query-graph.wasi-browser.js linguist-detectable=false
query-graph.wasi.cjs        linguist-detectable=false
wasi-worker-browser.mjs          linguist-detectable=false
wasi-worker.mjs                  linguist-detectable=false
